Hierarchies
* Sign in button is for Customers
* Log in button is for Workers and Customers
* Depends on Hierarchies Id login button should point to its custom page
* Create each Hierarchy level its custom page to work with
* Users SuperAdmin & Admin should control workers registration


Memberships
* User should see link for Basic plan on home page
* User should see link for Pro plan on home page
* Basic plan link should point to regular Devise sign up form
* Pro plan link should point to a custom sign up form