<div class="container text-center">
  <h1>Siderurgica Comercial, C.A.</h1>
  <br/>
  <p>Sidercom C.A. es una empresa dedicada al suministro de materiales para la industria Petrolera y Metalmecánica, 
  principalmente productos en Acero al Carbono y otras aleaciones.</p> 
  <br/>
  <h4>Contamos con un amplio inventario de los siguientes productos:</h4>
  <ul class="list-unstyled">
    <li>Bridas.</li>
    <li>Conexiones de Alta Presión.</li>
    <li>Ramales de Salida (Weldolets, Threadolets, Sockolets).</li>
    <li>Tuberías Tri-norma Sin Costura.</li>
    <li>Barras Macizas.</li>
    <li>Tubos Mecánicos.</li>
    <li>Empacaduras y Espárragos para Bridas.</li>
  </ul>
  <br/>
  <p>Así como cualquier tipo de piezas en acero utilizadas en la industria metalmecánica, petrolera, petroquímica e industria en general. 
  Estos productos pueden ser de procedencia nacional o importada, todos conformes con las normas internacionales más exigentes y 
  debidamente acompañados de sus respectivos Certificados de Calidad.</p>
  <br/>
  <p>Prestamos un servicio de excelente calidad que se caracteriza por ser oportuno y de alta calidad. Entregas inmediatas o programadas, 
  trazabilidad total de cualquier producto y un servicio post-venta de los productos suministrados.</p>
  <br/>
  <p>Con una infraestructura, maquinaria, plataforma informática y personal especializado listo para cualquier requerimiento de nuestros Clientes. 
  Sidercom, C.A. ofrece sus servicios y experiencia en el mercado desde hace de más 25 años.</p>
</div>