<div class="container text-center">
    <h1>Información</h1>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates doloremque 
    ipsum exercitationem qui sit tenetur dolore id. Dicta, possimus, ullam eos sint 
    cumque quo voluptates beatae et inventore quos aperiam.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, a est velit 
    perferendis alias nesciunt nulla voluptates optio? Deleniti, voluptatibus id 
    fugiat eaque ex nostrum facere reprehenderit minus ipsa quam.
    </p>
</div>