<div class="home-callout text-center container-fluid">
  <h1>Bienvenidos a Sidercom, C.A.</h1>
  <h3>Aceros y conexiones especiales.</h3>
</div>
<div class="container home-signup-links">
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <h1 class="text-center"> Regístrate!</h1>
        <h3 class="text-center">...y Adquiere acceso a nuestros productos</h3>
        <h4>Tendras una amena relacion comercial con nuestra empresa, puedes contactar a nuestros representates de ventas y compras. ofrecer sus productos y solicitar ofertas de nuestro catalogo de productos</h4>
        <br>
        <%= link_to "Regístrate", new_user_registration_path(hierarchy: @external.id), class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    </div>
      <div class="col-md-6">
        <div class="well">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, 
          tempora, atque! Quas, at, soluta, iure illum necessitatibus explicabo 
          aut non vel aspernatur voluptate quaerat nisi asperiores rerum quasi 
          amet quibusdam.
        </div>
      </div>
    </div>
  </div>
</div>