<!DOCTYPE html>
<html>
  <head></head>
    <body>
      <p>Has recibido un mensaje del formulario de la Aplicación Web, de
      <%= "#{ @name }, #{ @email }." %></p>
      <p><%= @body %></p>
    </body>
</html>